* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #222;
  color: #fff;
  font-size: 16px;
}
.container {
  text-align: center;
  padding: 30px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 300;
}
.green {
  color: #52ff00;
}
.nowrap {
  white-space: nowrap;
}
.infopanel {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
  border: 1px solid #52ff00;
  padding: 10px;
  min-height: 100px;
  margin: 0 auto;
  text-align: left;
}
.version {
  font-size: 0.8rem;
  margin-top: 10px;
}
button.install {
  background-color: #52ff00;
  color: #000;
  padding: 10px 20px;
  margin: 20px auto;
  border: 5px solid #fff;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.btn {
  background-color: #bbb;
  color: #000;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #fff;
}
@media all and (display-mode: fullscreen) {
  body {
    background-color: #002200;
  }
}
.testarea {
  text-align: left;
  font-size: 0.9rem;
  padding: 20px 10px;
  background-color: #0006;
  color: #ccc;
}
.testarea p {
  margin-top: 0;
}
hr {
  margin: 30px 0;
  background-color: #fff3;
  border: none;
  height: 1px;
}
.success {
  color: #52ff00;
}
.warning {
  color: orange;
}
.danger {
  color: red;
}
a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
#cacheFiles {
  margin-bottom: 20px;
}
li {
  line-height: 1.4em;
}
